<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            We are happy to see you around!
          </div>
          <h3> Last registered user {{lastuser.name}}</h3>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              15/06/2023
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/carlist" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            We have now : {{lengthVehicles}}   cars on market! hurry up! 
           
          </div>
          <h4> Last added car was a {{lastcar?.name}} - with {{lastcar?.kms}} KM</h4>
         
          <div class="ag-courses-item_date-box">
           Last updated: 
            <span class="ag-courses-item_date">
              a few seconds ago
            </span>
          </div>
        </a>
      </div>
  

      
      <div class="ag-courses_item">
        <a href="/carlist" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            We have now : {{lengthVehicles}}   cars on market! hurry up! 
           
          </div>
          <h4> Last added car was a {{lastcar?.name}} - with {{lastcar?.kms}} KM</h4>
         
          <div class="ag-courses-item_date-box">
           Last updated: 
            <span class="ag-courses-item_date">
              a few seconds ago
            </span>
          </div>
        </a>
      </div>

      
      <div class="ag-courses_item">
        <a href="/carlist" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            We have now : {{lengthVehicles}}   cars on market! hurry up! 
           
          </div>
          <h4> Last added car was a {{lastcar?.name}} - with {{lastcar?.kms}} KM</h4>
         
          <div class="ag-courses-item_date-box">
           Last updated: 
            <span class="ag-courses-item_date">
              a few seconds ago
            </span>
          </div>
        </a>
      </div>

      
      <div class="ag-courses_item">
        <a href="/carlist" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            We have now : {{lengthVehicles}}   cars on market! hurry up! 
           
          </div>
          <h4> Last added car was a {{lastcar?.name}} - with {{lastcar?.kms}} KM</h4>
         
          <div class="ag-courses-item_date-box">
           Last updated: 
            <span class="ag-courses-item_date">
              a few seconds ago
            </span>
          </div>
        </a>
      </div>
      
      <div class="ag-courses_item">
        <a href="/carlist" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            We have now : {{lengthVehicles}}   cars on market! hurry up! 
           
          </div>
          <h4> Last added car was a {{lastcar?.name}} - with {{lastcar?.kms}} KM</h4>
         
          <div class="ag-courses-item_date-box">
           Last updated: 
            <span class="ag-courses-item_date">
              a few seconds ago
            </span>
          </div>
        </a>
      </div>

      
      <div class="ag-courses_item">
        <a href="/carlist" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            We have now : {{lengthVehicles}}   cars on market! hurry up! 
           
          </div>
          <h4> Last added car was a {{lastcar?.name}} - with {{lastcar?.kms}} KM</h4>
         
          <div class="ag-courses-item_date-box">
           Last updated: 
            <span class="ag-courses-item_date">
              a few seconds ago
            </span>
          </div>
        </a>
      </div>
      
     
  
      
      
  
      
  
    </div>
  </div>